version: '3.8'

services:
  app:
    build: .
  db:
    image: postgres:15
    ports:
      - "${POSTGRES_PORT}:5432"
    container_name: bgpfinder_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
